version: '3.8'

services:
  mongo:
    image: mongo
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27017:27017"
    networks:
      - ecommerce-net

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://admin:admin@mongo:27017/ecommerce?authSource=admin
    depends_on:
      - mongo
    networks:
      - ecommerce-net

networks:
  ecommerce-net:

